*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* //////////////////////// */
/* Typing Reveal */
/* //////////////////////// */

.typing-reveal {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Code', monospace, sans-serif;
  background-color: #111111;
  color: #04a5d1;
}

.typing-reveal header {
  cursor: default;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing-reveal h1 {
  padding-left: 10px;
  font-size: 18px;

  @media (min-width: 480px) {
    padding-left: 14px;
    font-size: 24px;
  }

  @media (min-width: 768px) {
    padding-left: 18px;
    font-size: 30px;
  }

  @media (min-width: 1024px) {
    padding-left: 24px;
    font-size: 42px;
  }

  @media (min-width: 1280px) {
    padding-left: 32px;
    font-size: 54px;
  }
}

#typing-reveal-cursor.active {
  opacity: 0;
}

/* //////////////////////// */
/* Typing Reveal */
/* //////////////////////// */

.photo-bubble {
  --bubble-size: 175px;
  --bubble-duration: 8s;
  --bubble-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);

  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;

  @media (min-width: 768px) {
    --bubble-size: 275px;
  }

  @media (min-width: 1280px) {
    --bubble-size: 400px;
  }
}

.photo-bubble::before {
  content: '';
  position: absolute;
  width: calc(var(--bubble-size) + 50px);
  height: calc(var(--bubble-size) + 50px);
  background: rgba(0, 0, 0, 0.15);
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  z-index: 0;
  animation: photo-bubble-glow var(--bubble-duration) ease-in-out infinite;
  filter: blur(50px);
  will-change: border-radius;
}

.photo-bubble img {
  width: var(--bubble-size);
  height: var(--bubble-size);
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  box-shadow: var(--bubble-shadow);
  animation: photo-bubble var(--bubble-duration) ease-in-out infinite;
  will-change: border-radius;
}

@keyframes photo-bubble {
  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  25% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  50% {
    border-radius: 55% 45% 50% 50% / 40% 50% 50% 60%;
  }
  75% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
}

@keyframes photo-bubble-glow {
  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: scale(1);
  }
  25% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    transform: scale(1.05);
  }
  50% {
    border-radius: 55% 45% 50% 50% / 40% 50% 50% 60%;
    transform: scale(1.1);
  }
  75% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    transform: scale(1.05);
  }
}

/* //////////////////////// */
/* Pixel Veil */
/* //////////////////////// */

.pixel-veil {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #0b0b0e;
  color: #fff;
}

.pixel-veil header {
  z-index: 0;
  padding: 10px 0 0 10px;
  display: block;
  font-weight: 800;
  font-size: 28px;
}

.pixel-veil p {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 25px;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.3);
}

.pixel-veil-grid-conatiner {
  position: absolute;
  width: 100%;
  display: none;
}

.pixel-veil-grid-row {
  display: flex;
  justify-content: flex-start;
}

.pixel-veil-grid-pixel {
  z-index: 1;
  position: relative;
  width: 40px;
  height: 40px;
}

.pixel-veil-grid-pixel.initial-fade {
  background-color: transparent;
  opacity: 0;
  animation: pixel-veil-fade-in 0.6s linear forwards;
  animation-delay: 0.6s;
}

@keyframes pixel-veil-fade-in {
  0% {
    background-color: transparent;
    opacity: 0;
  }
  100% {
    background-color: #0b0b0e;
    opacity: 1;
  }
}

.pixel-veil-grid-pixel.transparent {
  background-color: transparent;
}

.pixel-veil-grid-pixel.revealing {
  animation: pixel-veil-pixel-reveal 1s ease-in-out forwards;
}

@keyframes pixel-veil-pixel-reveal {
  0% {
    background-color: transparent;
  }
  70% {
    background-color: transparent;
  }
  100% {
    background-color: #0b0b0e;
  }
}

@media (min-width: 480px) {
  .pixel-veil header {
    font-size: 42px;
  }

  .pixel-veil p {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .pixel-veil p {
    display: none;
  }

  .pixel-veil header {
    padding: 20px 0 0 30px;
    font-size: 140px;
  }

  .pixel-veil-grid-conatiner {
    display: block;
  }
}
