*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* //////////////////////// */
/* Typing Reveal */
/* //////////////////////// */

.typing-reveal {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Code', monospace, sans-serif;
  background-color: #111111;
  color: #04a5d1;
}

.typing-reveal header {
  cursor: default;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing-reveal h1 {
  padding-left: 10px;
  font-size: 18px;

  @media (min-width: 480px) {
    padding-left: 14px;
    font-size: 24px;
  }
  @media (min-width: 768px) {
    padding-left: 18px;
    font-size: 30px;
  }

  @media (min-width: 1024px) {
    padding-left: 24px;
    font-size: 42px;
  }

  @media (min-width: 1280px) {
    padding-left: 32px;
    font-size: 54px;
  }
}

#typing-reveal-cursor.active {
  opacity: 0;
}
